body {
    margin: 0;
    font-family: Georgia, serif;
    background: #fbf5ed;
    color: #4b4038;
}

header{
    background:#EBE3D7;
    text-align:center;
    padding:0;
}

h1 {
    font-size: 3.2rem;
    font-weight: normal;
    margin: 0;
    color: #80665a;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 15px;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:45px;
    padding:8px 20px;
    background:white;
    position:sticky;
    top:0;
    box-shadow:0 3px 15px rgba(0,0,0,.06);
    z-index:1000;
}

nav a{
    color:#80665a;
    text-decoration:none;
    font-size:1rem;
    letter-spacing:1px;
    text-transform:uppercase;
    transition:.3s;
}

nav a:hover{

    color:#b58c74;

}

section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

.intro {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.7;
}

.gallery {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(120, 90, 70, 0.12);
}

.card h2 {
    color: #927565;
    font-weight: normal;
}

footer {
    text-align: center;
    padding: 30px;
    background: #f5e8dc;
    color: #80665a;
}

.card img{
    width:100%;
    height:320px;
    object-fit:cover;
    border-radius:12px;
    margin-bottom:15px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.hero-logo{
    display:block;
    width:95vw;
    max-width:none;
    height:420px;
    object-fit:contain;
    margin:0 auto;
}

.hero{
    height:70vh;
    min-height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
        linear-gradient(rgba(245,237,228,.45), rgba(245,237,228,.45)),
        url("../images/hero.jpg");
    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:700px;
}

.hero h2{
    font-size:3rem;
    font-weight:normal;
    color:#80665a;

}

.hero p{
    font-size:1.2rem;
    line-height:1.8;
    margin:30px 0;
}

.hero-button{
    display:inline-block;
    padding:16px 34px;
    background:#80665a;
    color:white;
    text-decoration:none;
    border-radius:50px;
    transition:.3s;
}

.hero-button:hover{
    background:#a17f6e;
}
